body {
  text-align: center;
  background-color: inherit;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  line-height: 50px;
  color: #69821b;
}
.movie{
  margin: 50px;
}
.photo{
  width: 800px;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 60px
}
.nav {
  border-top: 1px solid #69821b;
  margin-top: 100px;
  margin-bottom: 200px;
    display: inline-table;
    width: 80%;
    background-color: rgba(33, 39, 98, 0);
}
.nav__item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.nav__item + .nav__item {
    border-left: 1px solid #FFFF;
}
.nav__item a {
    display: block;
    padding: 15px 0;
    color: #69821b;
    text-decoration: none;
    font-size: 14px;
}
