body {
  text-align: center;
  background-image: url("R0003588.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;


}
li {
  list-style-type: none;
  font-family: serif;
}

.nav {
    display: inline-table;
    width: 80%;
    background-color: rgba(33, 39, 98, 0);
}
.nav__item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.nav__item + .nav__item {
    border-left: 1px solid #CCC;
}
.nav__item a {
    display: block;
    padding: 15px 0;
    color: #FFFF;
    text-decoration: none;
    font-size: 14px;
}
