body{
  text-align: left;
  background-image: url("../R0003588.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 100px;
}
.icon{
  float: left;

}
.icon_img{
  margin-left: 200px;

}
.tw_link{
  clear: both;
  margin-top: 30px;
margin-left: 200px;
margin-right: 30px;
float: left;
}
.in_link{
  margin-top: 30px;
}
.about_me{
  float: left;
  margin-left: 200px;
}
